{% load staticfiles %}
{% include "includes/base_template.html" with active_tab='tab2' %}

<div id="wrap">
	<div id="content">
        <div class="article">
            <a id='pyperform' class='alignright' href="https://www.github.com/lobocv/pyperform">
                <img class='alignright' src="{% static "mysite/images/GitHub-Mark-32px.png"%}" width="26px">
            </a>
            <h2 class='article'>PyPerform</h2>
            <p>PyPerform is a convenient way to performance test python code. </p>
        </div>
        <br>
        <div class="article">
            <a id='eventdispatcher' class='alignright' href="https://www.github.com/lobocv/eventdispatcher">
                <img class='alignright' src="{% static "mysite/images/GitHub-Mark-32px.png"%}" width="26px">
            </a>
            <h2 class='article alightleft'>EventDispatcher</h2>
            <p>An event dispatcher framework inspired by the Kivy project.</p>
        </div>
        <br>
        <div class="article">
            <a id='crashreporter' class='alignright' href="https://www.github.com/lobocv/crashreporter">
                <img class='alignright' src="{% static "mysite/images/GitHub-Mark-32px.png"%}" width="26px">
            </a>
            <h2 class='article alightleft'>CrashReporter</h2>
            <p>Generate crash reports for python applications and upload them to developers when an internet connection is avaiable.</p>
        </div>
        <br>
        <div class="article">
            <a id='anonymoususage' class='alignright' href="https://www.github.com/lobocv/anonymoususage">
                <img class='alignright' src="{% static "mysite/images/GitHub-Mark-32px.png"%}" width="26px">
            </a>
            <h2 class='article alightleft'>AnonymousUsage</h2>
            <p>Anonymously track usage statistics for your python application.</p>
        </div>
        <br>
        <div class="article">
            <a id='conky' class='alignright' href="https://www.github.com/lobocv/conky">
                <img class='alignright' src="{% static "mysite/images/GitHub-Mark-32px.png"%}" width="26px">
            </a>
            <h2 class='article alightleft'>Conky</h2>
            <p>My personal HUD for linux desktops.</p>
        </div>

    </div>
{% include "includes/footer_template.html"%}
</div>



</body>
</html>
