{% load staticfiles %}
{% include "includes/base_template.html" %}
<hr>
<div class='article'>
<h2 class='article'><a class='article' href="https://www.github.com/lobocv/pyperform">PyPerform</a></h2>
	<p>PyPerform is a convenient way to performance test python code. </p>
</div>
<hr>
<div class='article'>
<h2 class='article'><a class='article' href="https://www.github.com/lobocv/eventdispatcher">EventDispatcher</a></h2>
	<p>An event dispatcher framework inspired by the Kivy project.</p>
</div>





</body>
</html>