{% load staticfiles %}

<link rel="stylesheet" type="text/css" href="{% static 'mysite/style.css' %}" />


<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN">
<html lang="en">

<head>
    <title>The Wolf Den</title>
	<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/style.css" media="screen" />
</head>

<body>

<h1 class='main_title'> {{page_title}}</h1>
<div id="wrap">
		<div id="header">
			<img src="{% static "mysite/images/header.jpg" %}" width="768" height="120" alt="Time To Rest" />
		</div>

	<div id="navigation">
		<ul>
			<li><a href="/">Home</a></li>
			<li><a href="/projects">Projects</a></li>
			<li><a href="/about">About</a></li>
			<li><a href="/contact">Contact</a></li>
		</ul>
	</div>
</div>





