{% load staticfiles %}

<link rel="stylesheet" type="text/css" href="{% static 'mysite/style.css' %}" />


<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN">
<html lang="en">

<head>
    <title>The Wolf Den</title>
	<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/style.css" media="screen" />
</head>

<body>

<!--<h1 class='main_title'> {{page_title}}</h1>-->
<div id="wrap">
		<div id="header">
			<img src="{% static "mysite/images/header.jpg" %}" width="100%" alt="Welcome" />
		</div>

	<div id="navigation">
		<ul>
			<li><a class="{% if active_tab == 'tab1' %} active{% endif %}" href="/">Home</a></li>
			<li><a class="{% if active_tab == 'tab2' %} active{% endif %}" href="/projects">Projects</a></li>
			<li><a class="{% if active_tab == 'tab3' %} active{% endif %}" href="/about">About</a></li>
			<li><a class="{% if active_tab == 'tab4' %} active{% endif %}" href="/contact">Contact</a></li>
		</ul>
	</div>
</div>





