{% load staticfiles %}

<link rel="stylesheet" type="text/css" href="{% static 'mysite/style.css' %}" />


<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN">
<html lang="en">

<head>
    <title>The Wolf Den</title>
	<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/style.css" media="screen" />
</head>

<body>

<h1 class='main_title'> {{page_title}}</h1>

<div class="nav">
	<a class="nav" href="/">Home</a>
	<a class="nav" href="/projects">Projects</a>
	<a class="nav" href="/about/">About</a>
	<a class="nav" href="/contact/">Contact</a>
</div>
